
section {
    padding-top: 4vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
    font-size: 1.5rem;
  }
  
  .section-container {
    display: flex;
  }
  
  /* PROFILE SECTION */
  
  #profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
  }
  
  .section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    
  }
  
  .section__pic-container img {
    border-radius: 50%;  /* Makes the image circular */
    object-fit: cover;   /* Ensures the image fills the container without distortion */
    width: 50vw;         /* Makes the image responsive based on viewport width */
    height: 50vw;        /* Keeps the height proportional to the width */
    max-width: 400px;    /* Prevents the image from becoming too large */
    max-height: 400px;   /* Prevents the image from becoming too large */
  }
  
  .section__text {
    align-self: center;
    text-align: center;
  }
  
  .section__text p {
    font-weight: 600;
  }
  
  .section__text__p1 {
    text-align: center;
  }
  
  .section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: 3rem;
    text-align: center;
  }
  
  #socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }
  
  .vaibhavPic {
    transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.6s ease;
  }
  
  .vaibhavPic:hover {
    transform: translateX(5%) scale(1.05);
    opacity: 0.9;
  }
  
  
  /* BUTTONS */
  
  .btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .btn {
    font-weight: 900;
    transition: all 300ms ease;
    width: 9rem;
    border-radius: 0.6rem;
  }
  
  .btn-color-1,
  .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
  }
  
  .btn-color-1:hover,
  .btn-color-2:hover {
    cursor: pointer;
  }
  
  .btn-color-1,
  .btn-color-2:hover {
    background: rgb(248, 245, 245);
    color: rgb(9, 0, 0);
  }
  
  .btn-color-1:hover {
    background: rgb(241, 240, 240);
  }
  
  .btn-color-2 {
    background: none;
  }
  
  .btn-color-2:hover {
    border: rgb(14, 13, 13) 0.1rem solid;
  }
  
  .btn-container {
    gap: 1rem;
  }
  